@import './variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

//pages
@import './pages/home.scss';

//components
@import './components/nav.scss';
@import './components/card.scss';

//body
body {
    background-color: #1a2535;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: white;

    .reflection {
        z-index: -1000;
        position: absolute;
        width: 100%;
    }

    h1 {
        margin: 0;
    }

}